@import "styles/variables";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.data {
  display: grid;
  grid-template-columns: auto auto;
  margin: $global-spacing-big;

  dt {
    text-align: right;
    font-weight: bold;

    &:after {
      content: ":";
    }
  }

  dd {
    text-align: left;
    margin-left: 20px;
    white-space: pre-line;
  }
}

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 $global-spacing-big;

  img {
    width: 300px;
    height: auto;
  }
}

@media (max-width: 950px) {
  .container {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }

  .data {
    margin: $global-spacing-medium;
  }

  .avatar {
    margin: $global-spacing-medium;
  }
}