@import "styles/variables";

.container {
  display: flex;
  flex-direction: column;

  padding: $global-spacing-big;

  form {
    button[type="submit"] {
      margin-top: $global-spacing-medium;
      float: right;
    }
  }
}

.avatarPicker {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;

  img {
    width: 150px;
  }
}