@import "styles/variables";

$height: 80px;
$menu-item-width: 160px;

.header {
  width: 100%;
  min-height: $height;
  padding: 0 $global-spacing-big;

  border-radius: $global-radius;
  background-color: $global-gray;
  border-bottom: 5px solid $global-gray-medium;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  // Wrap nav on smaller screens if needed
  flex-wrap: wrap;
}

.logo {
  flex-grow: 1;
  height: $height;
  padding: $global-spacing-small 0;
}

.nav {
  flex-grow: 2;
  min-height: $height;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;


  .link {
    height: $height;
    width: $menu-item-width;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: black;
    cursor: pointer;

    &:hover, &.active {
      color: #000;
      font-weight: 500;
    }
  }
}

.mobileMenuButton {
  display: none;
  width: 30px;

  color: $global-gray-dark;
  &:hover {
    cursor: pointer;
    color: darken($global-gray-dark, $global-hover-darken);
  }
}

@media (max-width: 960px) {
  .mobileMenuButton {
    display: block;
  }

  .nav {
    height: 100%;
    position: fixed;
    right: -($menu-item-width+5px);
    top: 0;

    padding: $global-spacing-big 0;
    flex-direction: column;
    flex-wrap: nowrap;

    border-radius: $global-radius;
    background-color: $global-gray;
    border-left: 5px solid $global-gray-medium;

    transition: 0.25s right;
  }
}

.nav.visible {
  right: 0;
}
