@import "styles/variables";

$height: 80px;

.header {
  width: 100%;
  min-height: $height;
  padding: 0 $global-spacing-big;

  border-radius: $global-radius;
  background-color: $global-gray;
  border-bottom: 5px solid $global-gray-medium;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  // Wrap nav on smaller screens if needed
  flex-wrap: wrap;
}

.logo {
  flex-grow: 1;
  height: $height;
  padding: $global-spacing-small 0;
}

.nav {
  flex-grow: 2;
  min-height: $height;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;


  .link {
    height: $height;
    width: 160px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: black;
    cursor: pointer;

    &:hover, &.active {
      color: #000;
      font-weight: 500;
    }
  }
}
@media (max-width: 960px) {



}
