@import "styles/variables";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    //padding-bottom: $global-spacing-medium;
    border-bottom: 2px solid $global-gray-dark;
  }

  main {
    margin: $global-spacing-big 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.image {
  margin: 5px;
  width: 100px;
  height: auto;
  cursor: pointer;

  &.selected {
    background-color: rgba($global-gray, 0.5);
    box-sizing: content-box;
    border: 5px solid $global-color-primary;
    border-radius: 50%;
    margin: 0;
  }
}
