$global-radius: 6px;
$global-gray: #f5f5f5;
$global-gray-medium: #e3e3e3;
$global-gray-dark: #494949;
$global-spacing-small: 8px;
$global-spacing-medium: 16px;
$global-spacing-big: 32px;

$global-hover-darken: 50%;

$global-color-primary: rgb(76, 154, 255);